.section>.vc_column_container
  +r(1200)
    padding: 0 20px !important
  +r($xs)
    padding: 0 40px !important
.section>.vc_column_container>.vc_column-inner
  padding-left: 0 !important
  padding-right: 0 !important
  margin-left: -10px !important
  margin-right: -10px !important
.vc_column_container>.vc_column-inner
  padding-left: 10px !important
  padding-right: 10px !important
.vc_row
  margin-left: 0 !important
  margin-right: 0 !important