include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    .page-transition
      .logo-white
        h1 TradePlus
          span medical company

    .out(class=outClass id="panel")
      block header
        include ../partials/_header
      div(data-barba="wrapper")
        block content

      block footer
        include ../partials/_footer
    //END out

    //LOAD SCRIPTS
    block scripts
      script(src="https://api-maps.yandex.ru/2.1/?apikey=2e293b19-2a14-478a-b7c9-63dbbea87b4a&lang=ru_RU")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
      script.
        new WOW().init();
      script(type="text/javascript" src="js/app.js")
      
