---
title: О компании
---
extends layouts/_layout
block content
  .page.about(data-barba="container")
    section.intro.intro-dark
      .intro__block(style="background-image: url(img/intro/3.jpg)")
        img.hidden-md(src="img/intro/3.jpg", alt="")
        .main
          .container
            .row.middle-xs
              .col-md-5.col-xs-12
                h1.wow.fadeInDown <span>О компании</span> <br>TradePlus
                p.wow.fadeIn(data-wow-delay=".5s") Команда, искренне вовлеченная в процесс обеспечения медицинских учреждений. 
                .flex
                  a.wow.fadeIn.btn.btn-white(href="#" data-wow-delay=".7s") Подробнее
    section.text
      .container
        .row
          .col-xs-12
            p.wow.fadeIn <strong>ТрэйдПлюс</strong> — это команда, искренне вовлеченная в процесс обеспечения медицинских учреждений. 
            p.wow.fadeIn(data-wow-delay=".1s") Интерес к нестандартным рациональным решениям, сотрудничество с ведущими производителямимедицинских изделий, наличие собственных брендов, знаний и опыта, оперативная реакция, анализ,способность быстро находить решения поставленных задач, стремление к новому, постоянное развитие и ответственность за свои действия дает нам возможность чувствовать динамику и развиваться вместе с нашими партнерами.
    section.brands
      .container
        .row
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".1s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".2s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".3s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".4s")
            .brands__block
              img(src="img/brands/4.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".5s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".6s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".7s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".8s")
            .brands__block
              img(src="img/brands/4.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".8s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1.1s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1.2s")
            .brands__block
              img(src="img/brands/4.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1.3s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1.4s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1.5s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay="1.6s")
            .brands__block
              img(src="img/brands/4.png", alt="")