---
title: Направление
---
extends layouts/_layout
block content
  .page.branch(data-barba="container")
    section.intro.intro-dark
      .intro__block(style="background-image: url(img/intro/2.jpg)")
        img.hidden-md(src="img/intro/2.jpg", alt="")
        .main
          .container
            .row.middle-xs
              .col-md-5.col-xs-12
                h1.wow.fadeInDown <span>Оперблок</span> и Хирургия
                p.wow.fadeIn(data-wow-delay=".5s") Травматология, нейрохирургия сердечно-сосудистая хирургия, урология и еще более 10 направлений
                .flex
                  a.wow.fadeIn.btn.btn-white(href="#" data-wow-delay=".7s") Подробнее
    section.list
      .container  
        .row
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Травматология
                p Артроскопические инструменты, изделия для протезирования и остеосинтеза
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Нейрохирургия
                p Шунтирующие системы, клапаны, устройства клипирующие, протезы твердой мозговой оболочки, инструменты для краниотомии
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Сердечно-<br>сосудистая <br>хирургия
                p Протезы кровеносных сосудов, катетеры эмболоэктомические, лигирующие клипсы
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Урология
                p Мочеточниковые стенты, бужи уретральные, наборы нефростомические
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Колопро-<br>ктология
                p Илеостомные и колостомные мешки, принадлежности для ухода за стомой
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Отоларинго-<br>логия
                p Костная реконструкция
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue
              .block
                h2 Офтальмология
                p Ножи и скальпели офтальмологические, вискоэластичные растворы, интраокулярные линзы
          .col-md-8.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--blue.item--big
              .block
                h2 Эндоскопия и изделия для<br> малоинвазивной хирургии
                p Оптическое оборудование, рабочие насадки – вставки, системы захвата и эвакуации.
    section.list__dark
      .container  
        .row
          .col-xs-12
            h3 Потребности по общей хирургии
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--dark
              .block
                h2 Оборудование<br>электрохирур-<br>гическое
                p Лазерные аппараты, держатели электродов, коагулирующие электроды и ножи
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--dark
              .block
                h2 Хирургический <br>ручной <br>инструмент
                p Ножницы, иглодержатели, распаторы,кюретки, сшивающие аппараты, скобы, степлеры
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--dark
              .block
                h2 Шовный <br>материал
                p Гемостатические средства, сетки для эндопро-тезирования
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--dark
              .block
                h2 Перчатки
                p Перчатки медицинские хирургические, для микрохирургии, ортопедии
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--dark
              .block
                h2 Белье
                p Белье операционное и комплекты для хирургии, стерильне чехлы на оборудование
          .col-md-4.col-sm-6.col-xs-12.wow.fadeIn
            .item.item--dark
              .block
                h2 Перевязочные <br>материалы
                p Перевязочные материалы для абдоминальных манипуляций, постоперационного заживления
    section.brands
      .container
        .row
          .col-xs-12
            .heading
              h2 Бренды
              .line
                .line__thin
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".1s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".2s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".3s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".4s")
            .brands__block
              img(src="img/brands/4.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".5s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".6s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".7s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".8s")
            .brands__block
              img(src="img/brands/4.png", alt="")
    section.navigate
      .container
        .row.between-xs
          .col-md-6.col-xs-12
            a(href="#").prev.wow.fadeInLeft
              i.icon.icon-arrow
              p Перейти предыдущее<br> направление:<br> «Дезинфекция, стерилизация»
          .col-md-6.col-xs-12.end-xs.flex.wow.fadeInRight
            a(href="#").next
              p Перейти в следующие<br> направление:<br> «Лаборатория»
              i.icon.icon-arrow
              

