---
title: Главная страница
outClass: main
---
extends layouts/_layout
block content
  div(data-barba="container")
    section.intro
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .intro__block(style="background-image: url(img/intro/1.jpg)")
              img.hidden-md(src="img/intro/1.jpg", alt="")
              .main
                .container
                  .row.middle-xs
                    .col-md-5.col-xs-12
                      h1.wow.fadeInDown <span>Решения</span> для здравоохранения
                      p.wow.fadeIn(data-wow-delay=".5s") Продукция и услуги для тех, <br>кто заботится о здоровье человека <br>и сохраняет жизнь
                      .flex
                        a.wow.fadeIn.btn.btn-home(href="#" data-wow-delay=".7s") Подробнее
                      .swiper-pagination
          .swiper-slide
            .intro__block(style="background-image: url(img/intro/2.jpg)")
              img.hidden-md(src="img/intro/2.jpg", alt="")
              .main
                .container
                  .row.middle-xs
                    .col-md-5.col-xs-12
                      h1 Дезинфекция, стерилизация
                      p Продукция и услуги для тех, <br>кто заботится о здоровье человека <br>и сохраняет жизнь
                      .flex
                        a.btn.btn-white(href="#") Подробнее
                      .swiper-pagination
          .swiper-slide
            .intro__block(style="background-image: url(img/intro/3.jpg)")
              img.hidden-md(src="img/intro/3.jpg", alt="")
              .main
                .container
                  .row.middle-xs
                    .col-md-5.col-xs-12
                      h1 Средства реабилитации и ухода
                      p Продукция и услуги для тех, <br>кто заботится о здоровье человека <br>и сохраняет жизнь
                      .flex
                        a.btn.btn-white(href="#") Подробнее
                      .swiper-pagination
    section.text
      .container
        .row
          .col-xs-12
            p.wow.fadeIn <strong>ТрэйдПлюс</strong> — это команда, искренне вовлеченная в процесс обеспечения медицинских учреждений. 
            p.wow.fadeIn(data-wow-delay=".1s") Интерес к нестандартным рациональным решениям, сотрудничество с ведущими производителямимедицинских изделий, наличие собственных брендов, знаний и опыта, оперативная реакция, анализ,способность быстро находить решения поставленных задач, стремление к новому, постоянное развитие и ответственность за свои действия дает нам возможность чувствовать динамику и развиваться вместе с нашими партнерами.
    section.branchs
      .container
        .row
          .col-xs-12
            .heading
              h2.wow.fadeInDown Направления
              .line
                .line__thin
          +small()
          +big()
          +small()
          +small()
          +small()
          +big()
          +small()
          +small()
          +big()
    section.brands.brands--home
      .container
        .row
          .col-xs-12
            .heading
              h2.wow.fadeInDown Бренды
              .line
                .line__thin
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".1s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".2s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".3s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".4s")
            .brands__block
              img(src="img/brands/4.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".5s")
            .brands__block
              img(src="img/brands/1.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".6s")
            .brands__block
              img(src="img/brands/2.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".7s")
            .brands__block
              img(src="img/brands/3.png", alt="")
          .col-md-3.col-sm-6.col-xs-6.wow.fadeIn(data-wow-delay=".8s")
            .brands__block
              img(src="img/brands/4.png", alt="")
          .col-xs-12.flex.center-xs.wow.fadeInUp
            a.btn.btn-blue(href="#") Смотреть все