footer.footer
  .container
    .row.middle-xs
      .col-md-10.col-xs-12
        p © 2019 TpadePlus. Все права защищены. Все права на материалы, опубликованные на сайте, охраняются в соответствии с законодательством РФ. При использовании материалов - активная ссылка на источник обязательна. Согласие на обработку персональных данных
      .col-md-2.col-xs-12
        a(href="http://excv.ru")
          img(src="img/excv-logo.svg", alt="")
