//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-md-2.col-sm-2.col-xs-6
        a(href="/").logo
          h1 TradePlus
            span medical company
      .col-xs-6.end-xs.hidden-md
        .menu-button
          span
      .col-md-7.col-sm-8.h-100.hidden-xs
        nav.h-100
          .slide
          ul.h-100
            li.active
              a(href="branch.html") Направления
            li
              a(href="#") Бренды
            li
              a(href="about.html") О компании
            li
              a(href="contact.html") Контакты
      .col-md-3.col-sm-2.end-xs.hidden-xs
        .header__info
          a.phone(href="tel: +7 495 374-50-17") +7 495 374-50-17
          a.mail(href="mailto:info@nmedcom.ru​") info@nmedcom.ru​
  .header__mobile
    .block
      h3 Меню
      ul
        li
          a(href="branch.html") Направления
        li
          a(href="#") Бренды
        li
          a(href="about.html") О компании
        li
          a(href="contact.html") Контакты
      .header__info
        a.phone(href="tel: +7 495 374-50-17") +7 495 374-50-17
        a.mail(href="mailto:info@nmedcom.ru​") info@nmedcom.ru​
//END header
